Repository ThePay/api-client, pull requests merged in 2022-10, with the labels that each got.

#31 Update TheClient.php
  src/TheClient.php
Labels: feature, PHP SDK

#32 4282 - Fix node-sass certificate issue
  .github/workflows/ci.yml
  assets/dist/thepay.css
  assets/dist/thepay.js
  assets/scss/_payments.scss
  assets/scss/_variables.scss
  assets/tests/dist.test.js
  jest.config.js
  package.json
  tests/CreatePaymentTest.php
Labels: enhancement, PHP SDK

#33 Mark old php versions as deprecated
  .github/README.md
  .github/workflows/ci.yml
Labels: enhancement, PHP SDK

#34 v1.5.1
  src/TheClient.php
Labels: enhancement
