Repository ThePay/api-client, pull requests merged in 2022-09, with the labels that each got.

#26 unnecessary condition removed
  src/Model/Collection/PaymentMethodCollection.php
  src/Service/ApiService.php
Labels: enhancement, PHP SDK

#27 Hotfix 4213 header case sensitivity
  src/Http/HttpResponse.php
  src/Service/ApiService.php
  src/TheClient.php
  tests/Http/HttpResponseTest.php
Labels: bug, PHP SDK

#28 payment urls
  doc/get-pay-urls-for-existing-payment.md
  doc/index.md
  src/Model/IPaymentMethod.php
  src/Model/PaymentMethod.php
  src/Model/PaymentMethodWithPayUrl.php
  src/Service/ApiService.php
  src/Service/ApiServiceInterface.php
  src/Service/GateService.php
  src/Service/GateServiceInterface.php
  src/TheClient.php
  tests/Mocks/Service/ApiMockService.php
Labels: documentation, enhancement, feature
